[Unit]
Description=mqtt-listener
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
Type=simple
ExecStart=/home/robert/git/user/scripts/mqtt/mqtt-listener.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
